@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 3, 7, 18;
}

html {
  color: rgb(var(--foreground-rgb));
  background-color: #babbbc; /* Fallback color */
  background-image: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  background-attachment: fixed;
  background-size: 100% 100vh;
  min-height: 100%;
}

body {
  min-height: 100vh;
}
